@import java.util.List;

@args(int a, List<String> myList, int b)

<head>
    <title>Test page</title>
</head>
<body>
    <h5>First for</h5>
    @for(int count = 0; count<myList.size(); count++) {
        <span>@myList.get(count)</span>
    }
    <hr />

    <h5>Second for</h5>
    @for(String item: myList) {
        <span>@item</span>
    }
    <hr />

    <h5>Third for</h5>
    @for((itt, item):myList) {
        <span>@itt.index() : @item</span>
    }
    <hr />

    <h5>For with if statements</h5>
    @for(int count = 0; count<100; count++) {
        @if (count == 10) {
            <p>We reached 10</p>
        } else if (count == 20) {
            <p>We reached 20</p>
        } else {
            @if (count == 30) {
                <p>We reached 30</p>
            } else if (count == 40) {
                <p>We reached 40</p>
            }
        }
    }
    <hr />

    <h5>Simple IF</h5>
    @if (a == 0) {
        <p>Zero</p>
    }
    <hr />

    <h5>If-else</h5>
    @if(a == b) {
        <p>Equal</p>
    } else {
        <p>Not equal</p>
    }
    <hr />

    <h5>Complex if</h5>
    @if (a < myList.size()) {
        <p>Smaller</p>
    } else if (a == myList.size()) {
        <p>Equal</p>
    } else {
        <p>Bigger</p>
    }

    <h5>Even more complex if</h5>
    @if (a < myList.size()) {
        @if (a > 3) {
            <p>Smaller but greater than 3</p>
        } else {
            <p>Smaller and less than or equal to 3</p>
        }
    } else if (a == myList.size()) {
        @if (a > 3) {
            <p>Equal but greater than 3</p>
        } else {
            <p>Equal and less than or equal to 3</p>
        }
    } else {
        @if (a > 3) {
            <p>Greater and greater than 3</p>
        } else {
            <p>Grater but less than or equal to 3</p>
        }
    }
</body>